@page "/caesar"
<h3>Caesar cipher</h3>
<div class="form-group" style="height: 600px;">
    <div class="col-6 h-100">
        <textarea @bind="toEncrypt" class="form-control h-100"></textarea>"
    </div>
    <label>Cipher key:</label>
    <input type="number" class="form-control" placeholder="Key ...." @bind="key" />
    <button class="btn btn-primary" @onclick="caesarCipher">
        <span class="oi oi-infinity" aria-hidden="true"></span>Encrypt
    </button>
    @if (encrypted != null)
    {
        <div class="row blockquote mt-5">
            <span>Encrypted string: @encrypted </span>
        </div>
    }
</div>
@code {
    char[] alphabet = new char[] { 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z' };
    int key;
    string toEncrypt = "";

    string encrypted = " ";

    public void caesarCipher()
    {
        char[] messageArray = toEncrypt.ToCharArray();

        char[] encryptedMessage = new char[messageArray.Length];

        for (int i = 0; i < messageArray.Length; i++)
        {
            char item = messageArray[i];

            int chIndex = Array.IndexOf(alphabet, item);
            int charPosition = (chIndex += key) % 26;
            char cipherChar = alphabet[charPosition];
            encryptedMessage[i] = cipherChar;

        }
        encrypted = String.Join("", encryptedMessage);

    }
}
